- if @ordered.none? && @shipped.none? && @completed.none?
  .row
    .large-12.columns.text-center
      %h3 No Orders Yet

- if @ordered.any?
  = render 'charges', collection: @ordered

- if @shipped.any?
  = render 'charges', collection: @shipped, header_text: 'Shipped Orders', param_name: :shipped_page

- if @completed.any?
  = render 'charges', collection: @completed, header_text: 'Completed Orders', param_name: :completed_page
