- if @ordered.none? && @shipped.none? && @completed.none?
  = render 'shared/no_results', resources: 'Orders'

- if @ordered.any?
  = render 'charges', collection: @ordered

- if @shipped.any?
  = render 'charges', collection: @shipped, header_text: 'Shipped Orders', param_name: :shipped_page

- if @completed.any?
  = render 'charges', collection: @completed, header_text: 'Completed Orders', param_name: :completed_page
