.row.padded-row#global-header
  .large-5.large-centered.columns
    .row.margin-bottom-15
      .large-12.columns
        #logo
          = link_to image_tag('logo-horizontal.png'), root_path

.row.margin-bottom-28.divider
  .large-12.large-centered.columns
    = image_tag 'divider.png', class: 'show-for-medium-up hide-for-small'
    = image_tag 'divider-small.png', class: 'show-for-small hide-for-medium-up width-100'
