.row.margin-bottom-15.margin-top-15.divider
  .large-12.large-centered.columns
    = image_tag 'divider.png'

.row#global-footer
  .large-12.columns
    %p.small.text-center Copyright &copy; 2013 Tushies &amp; Tantrums, Inc.
