- home_class = @active_navigation == 'home' ? 'active' : ''
- shop_class = @active_navigation == 'shop' ? 'active' : ''
- about_class = @active_navigation == 'about' ? 'active' : ''
- contact_class = @active_navigation == 'contact' ? 'active' : ''
- blog_class = @active_navigation == 'blog' ? 'active' : ''
