.row.margin-bottom-20.margin-top-20.divider
  .large-12.large-centered.columns
    = image_tag 'divider.png', class: 'show-for-medium-up hide-for-small'
    = image_tag 'divider-small.png', class: 'show-for-small hide-for-medium-up width-100'

.row#global-footer
  .large-12.columns
    %p.small.text-center.mute.margin-bottom-25 Copyright &copy; 2013 Tushies &amp; Tantrums, Inc.
