%section.markdown-tips
  %header
    %h5 Markdown Tips

  %dl
    .row
      %dt.large-6.columns **Bold Text**
      %dd.large-6.columns
        %strong Bold Text

    .row
      %dt.large-6.columns _Italic Text_
      %dd.large-6.columns
        %i Italic Text

    .row
      %dt.large-6.columns
        %ul
          %li* List Item 1
          %li* List Item 2
      %dd.large-6.columns
        %ul.dotted
          %li List Item 1
          %li Listen Item 2
