#masthead.margin-top-25.margin-bottom-25
  .curved-border
    .border.top
    .image
      .content
        %h1.color-white.littledays.margin-bottom-0 A Children's Boutique
        %p
          = link_to 'Shop Boys Bedding', '#', class: 'hollow-button margin-right-25'
          = link_to 'Shop Girls Bedding', '#', class: 'hollow-button'
      .background= image_tag 'tmp-masthead-image.png'
    .border.bottom

%section#products
  %header.with-arrow.row
    .large-2.columns.text
      %h3 Products
    .large-10.columns.arrow
      %div

%section#about
  %header.with-arrow.row
    .large-2.columns.text
      %h3 About Us
    .large-10.columns.arrow
      %div

  .row
    .large-5.columns
      .picture-box
        = image_tag 'family-photo.png'
    .large-7.columns
      %p
        Bacon ipsum dolor sit amet ham jerky corned beef pork chop pastrami
        biltong flank fatback sirloin tail t-bone ribeye. Leberkas chicken
        capicola boudin shoulder, pork chop meatball salami bresaola pork jerky.
        Tenderloin ball tip doner, short ribs salami ham hock sirloin spare ribs
        venison ground round chicken hamburger tail chuck tongue. Hamburger
        boudin chicken beef ribs frankfurter short loin, shank pancetta pig pork
        loin meatloaf. Short ribs hamburger pork chop ball tip.

      %p
        Jowl capicola tongue, sausage ball tip hamburger tenderloin pastrami.
        Doner t-bone andouille turkey beef ribs shoulder pancetta short ribs
        capicola bresaola fatback short loin ball tip ribeye. Shankle shoulder
        chicken flank venison capicola. Ham hock andouille meatloaf pastrami.
