#masthead.margin-top-15.margin-bottom-15
  .curved-border
    .border.top
    .image
      .content
        %h1.color-white.littledays.margin-bottom-0 A Children's Boutique
        %p
          = link_to 'Shop Boys Bedding', '#', class: 'hollow-button margin-right-25'
          = link_to 'Shop Girls Bedding', '#', class: 'hollow-button'
      .background= image_tag 'tmp-masthead-image.png'
    .border.bottom

