- if @drafted.none? && @published.none?
  = render 'shared/no_results', resources: 'Posts'

- if @drafted.any?
  = render 'posts', collection: @drafted, show_new_link: false, header_text: 'Drafts', param_name: :draft_page

- if @published.any?
  = render 'posts', collection: @published
