.posts-section
  padding: 0px !important
  footer
    margin: 0px !important

ul#posts
  margin-bottom: 0px
  li
    a
      display: block
      padding: $column-gutter
      margin-bottom: 1px
      border-bottom: 2px solid $color_gray
      &:hover
        background: $color_bright_green
        color: $color_white
        border-color: darken($color_bright_green, 35%)
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5)
    &:last-child a
      margin-bottom: 0px
