.product-widget
  border: 1px solid $color_gray
  border-radius: 3px
  position: relative

  .image
    height: 180px
    overflow: hidden
    img
      min-height: 100%
      border-radius: 2px 2px 0px 0px

  .content
    padding: 15px
    .name
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
      width: 100%
    .price
      color: $color_bright_green

  .overlay
    background: rgba(255, 255, 255, 0.5)
    height: 100%
    left: 0px
    position: absolute
    top: 0px
    width: 100%
    a
      +box-shadow(0px 0px 5px rgba(0, 0, 0, 0.5))
      background: $color_bright_green
      background: rgba($color_bright_green, 0.8)
      border-radius: 50px
      color: $color_white
      display: block
      font-weight: bold
      height: 100px
      line-height: 1.5
      margin: 40px auto 0px
      padding: 25px 15px 15px
      text-align: center
      text-transform: uppercase
      text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25)
      width: 100px
      &:hover
        +transform(scale(1.05))
        background: $color_bright_green
      &:active
        +box-shadow(0px 0px 8px rgba(0, 0, 0, 0.75))
        +transform(scale(0.98))

.description
  ul
    @extend .dotted

.sidebar
  ul.side-nav.categories
    padding-top: 0px
    li
      a
        color: $color_dark_gray
        font-weight: bold
      &.active a
        color: darken($color_bright_green, 10%)

@media only screen and (max-width: #{$medium-screen})
  .product-widget
    .image
      height: 125px
      width: 100%
      img
        width: 100%
    .overlay
      a
        margin-top: 13px
