.hollow-button
  +transition(all 0.1s ease-in-out)
  display: inline-block
  padding: 10px 20px
  border: 3px solid $color_white
  border-radius: 10px
  color: $color_white
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25)
  +box-shadow(1px 1px 0px rgba(0, 0, 0, 0.25))
  background: transparent
  &:hover
    border-color: $color_green
    color: $color_green
    text-shadow: 1px 1px 0px transparent
  &:active
    position: relative
    top: 1px
    left: 1px
    +box-shadow(0px 0px 0px transparent)

.buy-button
  +transition(all 0.1s ease-in-out)
  display: inline-block
  padding: 15px 40px
  border-radius: 10px
  color: $color_white
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25)
  +box-shadow(0px 3px 0px darken($color_bright_green, 25%))
  background: $color_bright_green
  &:hover
    color: $color_white
  &:active
    position: relative
    top: 2px
    +box-shadow(0px 0px 0px transparent)
  &.small
    padding: 10px 25px
  &.square
    border-radius: 0px
  &.gray
    color: $color_white
    border-color: $color_gray
    background: $color_gray
    +box-shadow(0px 3px 0px darken($color_gray, 25%))

.back-button
  display: inline-block
  position: relative
  padding-left: 18px
  font-size: emCalc(13px)
  color: #777
  &:before
    position: absolute
    left: 0px
    content: url('layout/back-arrow.png')
    display: block
    width: 12px
    height: 11px
  &:hover
    color: #414141
    &:before
      content: url('layout/back-arrow-dark.png')
