.picture-frame
  +box-sizing(border-box)
  position: relative
  border: 5px solid $color_brown_desaturated
  border-bottom: 35px solid $color_brown_desaturated
  padding: 3px
  footer
    position: absolute
    bottom: -30px
    left: 5px
    p
      color: $color_white
      margin-bottom: 0px
      font-style: italic
      text-shadow: 1px 1px 1px $color_black

.content-box
  +box-sizing(border-box)
  border-top: 2px dashed $color_brown
  padding: 15px 15px 15px
  background: $color_yellow

