@media only screen and (max-width: #{$small-screen})
  form
    input[type=submit]
      width: 100%

form
  footer
    margin: $column-gutter -25px -25px
    padding: 25px
    background: lighten($color_gray, 10%)

form.custom
  .checkbox
    +box-sizing(border-box)
    padding: 0px !important
    border: 1px solid #ccc
    width: 22px
    height: 22px
    &.checked
      &:before
        background: $color_bright_green
        margin: 0px !important
        top: 3px !important
        left: 3px !important
        content: "" !important
        width: 14px
        height: 14px

form.product-form
  .image-fields
    +box-sizing(border-box)
    padding: 15px
    background: $color_light_gray
    input
      margin-bottom: 0px
    .fields
      margin-bottom: 10px
      padding-bottom: 10px
      border-bottom: 1px solid $color_gray
      .remove-button
        position: relative
        top: 12px
    .add-button
      margin-top: 8px
    .note
      position: relative
      top: 13px
  textarea
    height: 350px

.styled-select
  padding-top: 6px
  select
    margin-bottom: 0px
