.curved-border
  position: relative
  width: $row-width
  margin-left: -130px
  height: 500px

  .content
    overflow: hidden
    width: 100%
    height: 100%
    position: relative
    z-index: 1
    .text
      z-index: 4
      position: absolute
      top: 25px
      left: 50px
      &.right
        +box-sizing(border-box)
        padding: 25px 125px 25px 21px
        top: 0px
        left: 749px
        width: 451px
        height: 100%
        background: rgba(255, 255, 255, 0.65)
        .back
          color: $color_dark_gray
          display: inline-block
          margin-bottom: 15px
        .name
          margin-bottom: 0px
        .price
          display: block
          font-weight: bold
          font-size: 1.2rem
          margin-bottom: 15px

    .blur
      z-index: 2
      position: absolute
      right: 0px
      top: 0px
      width: $row-width * 1.5
      img
        -webkit-filter: blur(8px)
        -moz-filter: blur(8px)
        -o-filter: blur(8px)
        -msn-filter: blur(8px)
        filter: blur(8px)
        display: block
        width: 100%
        height: auto
    .background
      z-index: 3
      position: absolute
      top: 0px
      left: 0px
      width: 749px
      height: 100%
      &.full
        width: 100%
      img
        display: block
        width: 100%
        height: 100%

  .border
    z-index: 3
    width: 100%
    height: 10px
    position: absolute
    left: 0px
    &.top
      background: url('layout/curved-border.png') repeat-x
      top: 0px
    &.bottom
      background: url('layout/curved-border-bottom.png') repeat-x
      bottom: 0px

.picture-box
  border-radius: 5px
  padding: 5px
  background: $color_white
  +box-shadow(0px 0px 7px rgba(0, 0, 0, 0.25))
  img
    width: 100%

.gray-box
  background: $color_light_gray
  +box-sizing(border-box)
  padding: 15px
  header
    h1
      font-family: $body-font-family
      font-size: emCalc(18px)
      font-weight: bold
      text-align: center
