#masthead
  display: block
  margin: -10px auto 15px
  .curved-border
    margin-left: -130px
    width: 145%
    .content
      overflow: hidden
      position: relative
      z-index: 1
      .text
        +box-sizing(border-box)
        z-index: 1000
        position: absolute
        top: 25px
        left: 50px
        &.white-background
          padding: 15px
          background: rgba(255, 255, 255, 0.85)
          border-radius: 5px
        &.right
          +box-sizing(border-box)
          padding: 25px 125px 25px 21px
          top: 0px
          left: 55%
          width: 45%
          height: 100%
          background: rgba(255, 255, 255, 0.65)
          .back
            color: $color_dark_gray
            display: inline-block
            margin-bottom: 15px
          .name
            margin-bottom: 0px
          .price
            display: block
            font-weight: bold
            font-size: 1.2rem
            margin-bottom: 15px
      .blur
        +backface-visibility(hidden)
        +perspective(1000)
        position: absolute
        z-index: -1
        right: 0px
        top: 0px
        width: 100%
        img
          +blur(5px)
          display: block
          width: 100%
          height: auto
      .background
        z-index: 1
        position: relative
        top: -125px
        width: 55%
        margin-bottom: -125px
        &.full
          top: 0px
          width: 100%
          margin-bottom: 0px
        img
          width: 100%
          display: block
    .border
      z-index: 2
      position: relative
      width: 100%
      height: 10px
      &.top
        background: url('layout/curved-border.png') repeat-x
        top: 10px
      &.bottom
        background: url('layout/curved-border-bottom.png') repeat-x
        top: -10px

@media only screen and (max-width: #{$small-screen})
  #masthead
    .curved-border
      margin-left: -30px
      .content
        .text
          top: 25px
          left: 15px

.picture-box
  border-radius: 5px
  padding: 5px
  background: $color_white
  +box-shadow(0px 0px 7px rgba(0, 0, 0, 0.25))
  img
    width: 100%

.gray-box
  background: $color_light_gray
  +box-sizing(border-box)
  padding: 15px
  header
    h1
      font-family: $body-font-family
      font-size: emCalc(17px)
      font-weight: bold
      text-align: center
      margin-bottom: 10px

header.with-arrow
  .text
    overflow: visible
  .arrow
    position: relative
    top: 23px
    padding-left: 0px !important
    div
      padding: 0px
      height: 2px
      background: $color_green
      width: 99%
      &:before
        content: url('layout/arrow-left.png')
        position: absolute
        left: -12px
        top: -9px
      &:after
        content: url('layout/arrow-right.png')
        position: absolute
        right: 10px
        top: -9px
