// Colors

$color_brown: #452d17
$color_gray: #d9d9d9
$color_green: #b2dbbd
$color_white: #fff

.color-brown
  color: $color_brown

.color-gray
  color: $color_gray

.color-green
  color: $color_green

.color-white
  color: $color_white

