// Colors

$color_white: #fff
$color_off_white: #fefef8
$color_gray: #eee
$color_green: #8ddba3
$color_brown: #462c05
$color_brown_desaturated: desaturate($color_brown, 75%)
$color_black: #222
$color_yellow: #fffcca
