p, li
  &.small
    font-size: $small-font-size
  &.big
    font-size: 120%
  &.mute
    color: lighten($body-font-color, 15%)
  &.strong
    font-weight: bold

.hide
  display: none !important

.make-block, .block
  display: block !important

.centered
  margin: 0px auto !important

@for $i from 0 through 100
  .width-#{$i}
    width: #{$i}% !important

// .margin-10, .margin-top-10, .padding-left-5, etc.
@each $type in margin, padding
  @for $i from 0 through 50
    .#{$type}-#{$i}
      #{$type}: #{$i}px !important
    @each $side in top, right, bottom, left
      .#{$type}-#{$side}-#{$i}
        #{$type}-#{$side}: #{$i}px !important

// Negative margin helpers
// .negative-margin-top-10, .negative-margin-right-5, etc.
@for $i from 0 through 50
  @each $side in top, right, bottom, left
    .negative-margin-#{$side}-#{$i}
      margin-#{$side}: -#{$i}px !important
