body.minimal, body.admin
  background: lighten($color_gray, 2%)
  #main-content
    padding: 25px 0px
    background: transparent
    +box-shadow(0px 0px 0px transparent)
    #logo
      margin: 25px auto 50px
      display: block
      width: 350px
      img
        +transition(all 0.15s ease-in-out)
        display: block
        &:hover
          +transform(rotate(-25deg))
        &:active
          +transform(rotate(15deg))
    h1, h2, h3, h4, h5, h6
      text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5)
  section
    +box-sizing(border-box)
    background: $color_white
    border: 5px solid darken($color_gray, 5%)
    border-radius: 5px
    padding: 25px
    margin-bottom: $column-gutter
    h1, h2, h3, h4, h5, h6
      text-shadow: none

body.admin
  #global-header
    height: 75px
    background: $color_white
    border-bottom: 5px solid darken($color_gray, 5%)
    .admin-navigation
      position: relative
      top: 25px
  #main-content
    margin: 25px auto 50px
    section
      a
        font-weight: bold
        color: $color_dark_gray

@media only screen and (max-width: 768px)
  body.minimal, body.admin
    #main-content
      padding: 0px
      #logo
        margin: 25px auto
        width: auto
        max-width: 250px

