body.minimal, body.admin
  background: lighten($color_gray, 2%)
  #main-content
    padding: 25px 0px
    background: transparent
    +box-shadow(0px 0px 0px transparent)
    #logo
      margin: 25px auto 50px
      display: block
      width: 350px
      img
        +transition(all 0.05s ease-in-out)
        display: block
        &:hover
          +transform(scale(1.15, 1.15))
        &:active
          +transform(rotate(5deg))
    h1, h2, h3, h4, h5, h6
      text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.25)
      padding-left: 28px
      a.action-button
        position: relative
        top: -4px
        margin-left: 10px
  section
    +box-sizing(border-box)
    background: $color_white
    border: 5px solid darken($color_gray, 5%)
    border-radius: 5px
    padding: 25px
    margin-bottom: $column-gutter
    .full-bleed
      margin-left: -25px
      margin-right: -25px
    h1, h2, h3, h4, h5, h6
      text-shadow: none
      padding-left: 0px !important
    footer
      margin: $column-gutter -25px -25px
      padding: 25px
      background: lighten($color_gray, 10%)
      .stripe-link
        height: 37px
        line-height: 21px
      p
        margin-bottom: 0px


body.admin
  #global-header
    background: $color_white
    border-bottom: 5px solid darken($color_gray, 5%)
    height: 75px
    position: relative
    .title
      left: 20px
      position: absolute
      top: 13px
    .signout
      position: absolute
      right: 20px
      top: 18px
    .admin-navigation
      position: relative
      top: 25px
  #main-content
    margin: 25px auto 50px
    section
      a
        color: $color_dark_gray
        font-weight: bold
        &:hover
          color: $color_black
      .f-dropdown
        li
          a
            font-weight: normal

@media only screen and (max-width: #{$small-screen})
  body.minimal, body.admin
    #main-content
      padding: 0px
      #logo
        margin: 25px auto
        width: auto
        max-width: 250px

