// Bourbon, Globals, Foundation, etc
@import 'bourbon'
@import 'partials/global_vars'
@import 'foundation_and_overrides'

// Custom Partials
@import 'partials/mixins'
@import 'partials/fonts'
@import 'partials/helpers'
@import 'partials/global_elements'
@import 'partials/global_overrides'
@import 'partials/forms'
@import 'partials/buttons'
@import 'partials/pagination'
@import 'partials/flashes'
@import 'partials/popups'
@import 'partials/layouts'
@import 'partials/admin'

// Section-specific styles
@import 'sections/global_chrome'
@import 'sections/products'
@import 'sections/inquiries'
@import 'sections/charges'

#main-content
  z-index: 1
  position: relative
  padding: 25px 120px 0px
  background: $color_white
  overflow: hidden
  +box-shadow(0px -2px 4px rgba(0, 0, 0, 0.15), 0px 2px 4px rgba(0, 0, 0, 0.25))

@media only screen and (max-width: #{$medium-screen})
  #main-content
    padding: 25px 20px 0px
