.hide-for-small
  = category_link @product

%h3.name{title: @product.name}= @product.name
%p.strong.price= number_to_currency(@product.price)

.hide-for-medium-down
  %ul
    %li.strong Overview
    %li.dotted Handmade Item
    %li.dotted Made to Order

= link_to 'Buy Now', new_product_charges_path(@product), class: 'action-button large', remote: true
