.row
  .large-2.columns
    .sidebar
      %h4.hide-for-small Categories
      = product_categories(@category)

  .large-10.columns
    - @products.in_groups_of(3) do |products|
      %ul.large-block-grid-3.widgets
        - products.each do |p|
          %li.widget
            = render 'widget', product: p unless p.nil?

    = paginate @products
