.row.padded-row
  - if @products.any?
    .large-12.columns
      %ul
        - @products.each do |product|
          %li= link_to product.name, product
  - else
    .large-8.large-centered.columns
      .content-box.text-center
        %p
          Whoops! You haven't created any products yet.
        %p.margin-bottom-0
          = link_to 'Create a Product!', new_product_path, class: 'button margin-bottom-5'
