.row.padded-row
  .large-8.columns
    .content-box
      %h3 New Product
      = render partial: 'form', locals: { product: @product }
  .large-4.columns
    .content-box
      %p.margin-bottom-0
        All fields are required. If you are having trouble saving new products,
        please call someone that cares. Bye.

